<!-- NAVIGATION -->

<nav class="navbar navbar-light bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <!-- <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top"> -->
      <i class="fab fa-safari"></i>
      <h5 class="text-light">Speed Calculator App</h5>
    </a>
  </div>
</nav>

<!-- CONTAINER -->

<div class="container vh-100">
  <div class="row vh-100 align-items-center">
    <!-- LEFT -->
    <div class="col h-100" id="output">
      <div class="row h-100 align-items-center">
        <!-- TIME -->
        <div class="p-5 d-flex justify-content-center">
          <!-- <h1>{{ travelTime }}</h1> -->
          <!-- <h1>1 hour 45 minutes 30 seconds</h1> -->
          <h1 class="text-light">{{ travelTime }}</h1>
        </div>
      </div>
    </div>
    <!-- RIGHT -->
    <div class="col" id="input">
      <div class="row align-items-center">
        <!-- SPEED -->
        <div class="p-5 justify-content-center">
          <h5>Distance</h5>
          <label for="distanceRange" class="form-label"><span class="badge bg-secondary">{{ distance }} km</span></label>
          <input type="range" class="form-range" id="distanceRange" min="1" max="150" value="100"
            (input)="setDistance($event.target.value)">
          <p>Impact your travel time by adjusting speed.</p>
        </div>
      </div>
      <!-- DISTANCE -->
      <div class="row">
        <div class="p-5 justify-content-center">
          <h5>Speed</h5>
          <label for="customRange1" class="form-label"><span class="badge bg-secondary">{{ speed }} km/h</span></label>
          <input type="range" class="form-range" id="speedRange" min="1" max="150" value="50"
            (input)="setSpeed($event.target.value)">
          <p>Change the distance to influence travel time.</p>
        </div>
      </div>
    </div>
  </div>
</div>
