<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap" /></svg>
      <span class="fs-4">Travel Time Calculator</span>
    </a>
  </header>

  <!-- CONTENT -->
  <div class="px-4 py-5 my-5 text-center">
    <p class="display-6">Driving <span>{{ distance }} km</span> with a speed of <span>{{ speed }}</span> km/h will result in a travel time of <span>{{ travelTime }} in minutes</span></p>
    
    <div class="col-lg-6 mx-auto">
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <label for="customRange1" class="form-label">Speed</label>
        <input type="range" class="form-range" id="speedRange" min="0" max="150" value="50"
          (input)="setSpeed($event.target.value)">
      </div>
      <p class="lead mb-4">Change the distance to influence travel time.</p>
    </div>

    <div class="col-lg-6 mx-auto">
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <label for="distanceRange" class="form-label">Distance</label>
        <input type="range" class="form-range" id="distanceRange" min="0" max="150" value="100"
          (input)="setDistance($event.target.value)">
      </div>
      <p class="lead mb-4">Impact your travel time by adjusting speed.</p>
    </div>
  </div>
</div>